/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 125px;
    text-align: justify;
    color: rgb(2, 19, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("pexels-freestocks-412462.jpg");
    background-repeat: no-repeat;

}
.titulo{
font-size: 60px;
color: aquamarine;
text-align: center;



}


.img1{

height: 214px;
width: 258px;
background-image: url("img1.jpg");
background-repeat: no-repeat;


}

.mapa.img4.jpg{

    height: 214px;
    width: 258px;
    background-image: url("mapa.img4.jpg");
    background-repeat: no-repeat;
    
    
    }

    .img6{

        height: 214px;
        width: 258px;
        background-image: url("img6.jpg");
        background-repeat: no-repeat;
        
        
        }
        
        .circuitos{

            height: 214px;
            width: 258px;
            background-image: url("circuitos.jpg");
            background-repeat: no-repeat;
            
            
            }

            .img5{

                height: 214px;
                width: 258px;
                background-image: url("img5.jpg");
                background-repeat: no-repeat;
                
                
                }


                .mapa.img3.jpg{

                    height: 214px;
                    width: 258px;
                    background-image: url("mapa.img3.jpg");
                    background-repeat: no-repeat;
                    
                    
                    }
    
